<%- include('../../../template/header') -%>

<div>
    <h1 class="text-center" style='margin-top:1em'>Apparatus</h1>
    <br>
    <div class="container">
        <a href="/addApparatus" class="btn btn-success mb-3">Add Apparatus</a>
        <table id="myTable" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th>Apparatus</th>
                <th>Stock</th>
                <th>Latest Update</th>
                <th>Storage Place</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Test Tube</td>
                <td>20</td>
                <td>20-05-2020</td>
                <td>Upper Self</td>
                <td>
                    <a href="#" title="See Details" ><i class="fa fa-arrow-right fa-lg" style="color:green; margin-right:10px" aria-hidden="true"></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-pencil-square-o fa-lg" style="color:blue; margin-right:10px" aria-hidden="true"></i></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-trash-o fa-lg" style="color:red" aria-hidden="true"></i></i></a>
                </td>
            </tr>
            <tr>
                <td>Watch Glass</td>
                <td>15</td>
                <td>15-02-2019</td>
                <td>Self 1</td>
                <td>
                    <a href="#" title="See Details" ><i class="fa fa-arrow-right fa-lg" style="color:green; margin-right:10px" aria-hidden="true"></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-pencil-square-o fa-lg" style="color:blue; margin-right:10px" aria-hidden="true"></i></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-trash-o fa-lg" style="color:red" aria-hidden="true"></i></i></a>
                </td>
            </tr>
            <tr>
                <td>Microscope</td>
                <td>5</td>
                <td>15-02-2019</td>
                <td>Self 3</td>
                <td>
                    <a href="#" title="See Details" ><i class="fa fa-arrow-right fa-lg" style="color:green; margin-right:10px" aria-hidden="true"></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-pencil-square-o fa-lg" style="color:blue; margin-right:10px" aria-hidden="true"></i></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-trash-o fa-lg" style="color:red" aria-hidden="true"></i></i></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<%- include('../../../template/footer') -%>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
