<%- include('../template/header') -%>

<div style="margin: 3rem";>
    <h1 class="text-center" style='margin-top:1em'>Add Sample Details</h1>
    <div class="container">
        <div class="">
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <div style="background: #e3e3e380;
                padding: 50px;">
                    <form method="post" action="/samples">

                        <div class="form-group">
                            <label for="validationDefault01">Main Operator Name</label>
                            <input type="text" class="form-control" id="validationDefault01" name="headline"  required>                        
                        </div>

                        <div class="form-group">
                            <label for="validationDefault02">Sample Name</label>
                            <input type="text" class="form-control" id="validationDefault04" name="Name" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="validationDefault03">Donor code</label>
                            <input type="text" class="form-control" id="validationDefault05" name="date" required>
                        </div>

                        <h4>Donor Info</h4>
                        <br>
                        <div class="row">
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="validationDefault04">Donor Age</label>
                                    <input type="number" class="form-control" id="validationDefault04" name="age"  required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="validationDefault05">Donor Sex</label>
                                    <br>
                                    <select name="sex" required>
                                        <option value="" disable selected hidden>Choose a sex</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="validationDefault06">Donor Weight</label>
                                    <input type="number" class="form-control"  name="weight"  required>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="validationDefault07">Type of sample</label>
                            <input type="text" class="form-control" id="validationDefault07" name="type" required>
                        </div>

                        <div class="form-group">
                            <label for="validationDefault07">Sample Storage LOcation</label>
                            <input type="text" class="form-control" id="validationDefault07" name="storage" required>
                        </div>
                        
                        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </form>   
                </div>
                
            </div>
        </div>
    </div>
</div>


<%- include('../template/footer') -%>