<%- include('../../template/header') -%>

<div>
    <h1 class="text-center" style='margin-top:1em'>Equipments Notification</h1>
    <br>
    <div class="container">
        
        <table id="myTable" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th>Name</th>
                <th>Seller</th>
                <th>Store Location</th>
                <th>Remaining days to repair</th>
                <th>Person in Charge</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Leathe machine</td>
                <td>Labtex BD</td>
                <td>Left corner</td>
                <td>80</td>
                <td>Masud</td>
                <td>
                    <a href="#" title="See Details" ><i class="fa fa-arrow-right fa-lg" style="color:green; margin-right:10px" aria-hidden="true"></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-pencil-square-o fa-lg" style="color:blue; margin-right:10px" aria-hidden="true"></i></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-trash-o fa-lg" style="color:red" aria-hidden="true"></i></i></a>
                </td>
            </tr>
            <tr>
                <td>Freezers</td>
                <td>Labtex BD</td>
                <td>Left corner</td>
                <td>60</td>
                <td>Zahid</td>
                <td>
                    <a href="#" title="See Details" ><i class="fa fa-arrow-right fa-lg" style="color:green; margin-right:10px" aria-hidden="true"></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-pencil-square-o fa-lg" style="color:blue; margin-right:10px" aria-hidden="true"></i></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-trash-o fa-lg" style="color:red" aria-hidden="true"></i></i></a>
                </td>
            </tr>
            <tr>
                <td>Incubators</td>
                <td>Labtex BD</td>
                <td>Left corner</td>
                <td>25</td>
                <td>Toha</td>
                <td>
                    <a href="#" title="See Details" ><i class="fa fa-arrow-right fa-lg" style="color:green; margin-right:10px" aria-hidden="true"></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-pencil-square-o fa-lg" style="color:blue; margin-right:10px" aria-hidden="true"></i></i></a>
                    <a href="#" title="See Details" ><i class="fa fa-trash-o fa-lg" style="color:red" aria-hidden="true"></i></i></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <h4 class="text-center" style='margin-top:1em; color: red;'>These equipments are needed to be repair soon ! </h1>

</div>

<%- include('../../template/footer') -%>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
